body {
  background-image: url(../assets/background.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.83;
}

.App {
  text-align: center;
  padding: 5%;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.right-button {
  cursor: pointer;
  margin-left: auto;
}