@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
  background-image: url(../assets/background.jpg);
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.8;
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Madimi One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Madimi+One&display=swap);
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  padding: 0 5% 5%;
}

.header-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container h1 {
  margin-right: 20px;
  font-size: 50px;
}

.list-group-item {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.right-button {
  cursor: pointer;
  margin-left: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  font-size: 16px;
}

.footer span {
  text-align: center;
  margin: 0 20px 10px;
}

.footer a {
  text-decoration: none;
  color: darkviolet;
}

.footer a:hover {
  color: darkmagenta;
}